.Card{
    background-color: white;
    width: 700px;
    height: 325px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    padding-left: 30px;
}

.user-id{
    float: right;
}

li{
    margin-left: 40px;
}

h2{
    text-decoration: underline;
    
}