.Card{
    background-color: white;
    width: 700px;
    height: 325px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    padding-left: 30px;
}

input{
    border-radius: 5px;
}
.sub-entry{
    width: 50%;
    float: left;
}

.submit-button{
    margin-top:20px;
}
.user-id{
    float: right;
}


li{
    margin-left: 40px;
}
h1{
    text-align: center;
}
h2{
    text-decoration: underline;
    
}